/Jotto/dist/
/Jotto/build/
/PropertiesManager/dist/
/PropertiesManager/build/
/XMLUtilities/build/
/XMLUtilities/dist/
/Jotto/nbproject/private/
/PropertiesManager/nbproject/private/
/XMLUtilities/nbproject/private/
/AudioManager/build/
/AudioManager/dist/
/MiniGameFramework/build/
/Zombiquarium/build/
/MahjongSolitaireLevelEditor/dist/
/MahjongSolitaireLevelEditor/build/
/MiniGameFramework/dist/